<%- include('../partials/header') %>

<h2>All Books</h2>
<section id="show-page">
    <div>Book Name</div>
    <div><%= book.name %></div>
    <div>Author</div>
    <div><%= book.author %></div>
    <div>Start Date</div>
    <div><%= book.startDate %></div>
    <div>End Date</div>
    <div><%= book.endDate %></div>
</section>

<%- include('../partials/footer') %>